//
// Configuration Variables
//

// Breakpoints will generate
// standard media queries
$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: false;

//
// Base imports
//
@import "singularitygs";
@import "breakpoint";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
//@import "compass/css3/opacity";

//
// Google Fonts
//
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

//
// Partials
//
@import "bootstrap/bootstrap-custom";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/placeholders";
@import "partials/components/*";
@import "partials/pages/*";