/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active, 
.flexslider a:active, 
.flex-container a:focus, 
.flexslider a:focus   {
    outline:  none;
}

.slides, 
.flex-control-nav, 
.flex-direction-nav  {
    margin:  0;
     padding:  0;
     list-style:  none;
}

/* FlexSlider Necessary Styles
*********************************/
// slides area
.under-slides {
  position: fixed;
  left: 0;
  top: 65%;
  width: 100%;
  text-align: center;
  @include breakpoint($tablet) {
		top: 40%;  
  }
  h3 {
	  font-weight: 400;
	  font-size: 15px;
  }
}

.flexslider  {
    margin:  0;
     padding:  0;
     height:  100%;
}

.flexslider .slides > li  {
    display:  none;
     -webkit-backface-visibility:  hidden;
     overflow:  hidden;
}
 
.flexslider .slides img  {
    display:  block;
    max-width:  none;
    position: relative;
    width: 100%;
}
.flex-pauseplay span  {
    text-transform:  capitalize;
}

/* Clearfix for the .slides element */
.slides:after  {
    content:  ".";
     display:  block;
     clear:  both;
     visibility:  hidden;
     line-height:  0;
     height:  0;
}

html[xmlns] .slides  {
    display:  block;
}

* html .slides  {
    height:  1%;
}

/* No JavaScript Fallback */
/* If you are not using another script,  such as Modernizr,  make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child  {
    display:  block;
}

.flex-direction-nav .flex-disabled  {
     opacity:  0!important;
     filter: alpha(opacity=0);
     cursor:  default;
 }