//
// Variables
//

// Breakpoints
$mobile-only: 0 679px;
$tablet: 680px;
$desktop: 960px;
$full-width: 1200px;

// Colors
// insert color variables if needed

// Typography
// For example:
// $omnes:   "omnes-pro", Arial, sans-serif;
// $freight: "freight-sans-pro", Helvetica, sans-serif;